body {
  font-family: "Fira Sans", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1, h2, h3, h4, h5 {
  font-family: "Ubuntu", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin: 0;
}

.leftlined {
  /* position: relative; */
}
.leftlined::after {
  content: "";
  width: 10px;
  height: 120%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  position: absolute;
}
.llred::after {
  background: #E83535
}
.llred {
  color: #E83535
}
.llblue {
  color: #3552E8
}
.llblue::after {
  background: #3552E8
}
button {
  padding: 7px 13.5px;
  background: none;
  border: solid 1px white;
  color: #fff;
  cursor: pointer;
  transition: all .3s ease;
  text-transform: uppercase
}
button:hover {
  color: #000;
  background-color: #fff
}